h1 {
  font-size: 70px !important;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.developer-details {
  background: linear-gradient(
    183deg,
    rgba(101, 114, 200, 1) 0%,
    rgba(249, 247, 254, 1) 89%
  );
  text-align: center;
  padding: 90px;
}

.developer-details h3 {
  font-size: 36px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.developer-details h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 30px auto;
}

.btn-contact {
  background-color: rgb(101, 114, 200);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-contact:hover {
  color: black;
  border: 2px solid rgb(101, 114, 200);
}
