h2 {
  margin-bottom: 25px;
}
p {
  margin: 80px auto !important;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  line-height: 40px;
}

img {
  display: block;
  margin: 60px auto;
  max-width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.heading-1 {
  font-size: 70px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-align: center;
}

.developer-details {
  background: linear-gradient(
    183deg,
    rgba(101, 114, 200, 1) 0%,
    rgba(249, 247, 254, 1) 89%
  );
  text-align: center;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer-details h3 {
  font-size: 36px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.developer-details h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 30px auto;
}

.btn-contact {
  background-color: rgb(101, 114, 200);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-contact:hover {
  color: black;
  border: 2px solid rgb(101, 114, 200);
}

.img-aboutMe {
  border-radius: 50%;
}

.footer-style {
  background-color: #f9f7fe;
  padding: 25px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.footer-style a {
  text-decoration: none;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
  font-weight: normal;
}

i {
  font-size: 25px;
  color: rgb(101, 114, 200);
}
